/* Mode Gelap */
.dark {
    background-color: #1a202c;
    color: white;
}

.dark .bg-white {
    background-color: #2d3748;
    color: white;
}

.dark .bg-blue-600 {
    background-color: #4a5568;
}

.dark button {
    background-color: #4a5568;
}
