body {
    background-color: #27445D;
    color: white;
}

.dark {
    background-color: #1a202c;
    color: white;
}

.dark .bg-white {
    background-color: #2d3748;
    color: white;
}

.dark .bg-FFA725 {
    background-color: #4a5568;
}

button {
    background-color: #71BBB2;
    background-color: #c48601;
}
#viewToggle:hover {
    background-color: #c48601; 
}

button:hover {
    background-color: #FFA725;
}
